* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
}

header .titulo {
	text-decoration: none;
	font-size:1.5em;
	color: #fff;
	font-weight: 800;
}
header .titulo span {
	color: #3ec97c;
	font-weight: 700;
}
header ul {
	display: flex;
}
header ul li a{
	margin-left:20px; 
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	font-weight: 300;
}

.banner {
	width: 100%;
	height: 100vh;
	background:url(../img/bg.jpg) no-repeat;
	background-position: center;
	object-fit: cover;
	background-size: cover;
}

.banner .conteudo {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 100px;
	font-size: 40px;
}
.banner .conteudo small {
	font-size: 25px;
	color: #cadb2fe0;
	font-weight: 200;
}
.banner .conteudo h2 {
	font-size: 2em;
	color: #fff;
	font-weight: 800;
}

.banner .conteudo button {
	padding: 10px 35px;
	border:1px solid #24f1ad;
	border-radius: 20px; 
	background: transparent;
	color: #fff;
	font-size: 16px;
	letter-spacing: 4px;
	margin-top: 30px;
	transition: all 0.5s ease;
}
.banner .conteudo button:hover {
	background-color: #3ec97c;
	color: #fff;
	font-weight: 700;
}

















