* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
	scroll-behavior: smooth;
}

@font-face{
	font-family: 'summer';
	src:url('Road Summer.ttf');
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	transition: all .5s ease;
	z-index: 1111;
	flex-wrap: wrap;
}

header .logo {
	text-decoration: none;
	font-size:1.5em;
	color: #fff;
	font-weight: 800;
	font-family: 'summer', sans-serif;
}
header .logo span {
	color: #e7140f;
	font-weight: 900;
}
header ul {
	display: flex;
}
header ul li a{
	margin-left:20px; 
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	font-weight: 300;
	transition: .5s;
	font-family: sans-serif;
	font-weight: 300;
	transform:  all .4s ease;
}
header ul li a:hover {
	color: #ff0157;
	font-weight: 700
}

.banner {
	width: 100%;
	height: 100vh;
	background:url(../img/bg.jpg) no-repeat;
	background-position: center;
	object-fit: cover;
	background-size: cover;
}

.banner .conteudo {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-30%);
	padding: 100px;
	font-size: 40px;
}
.banner .conteudo small {
	font-size: 25px;
	color: #cadb2fe0;
	font-weight: 200;
	font-family: 'ovelha',sans-serif;
}
.banner .conteudo h2 {
	font-size: 2em;
	color: #fff;
	font-weight: 800;
	line-height: 1.2em;
}

.banner .conteudo button {
	padding: 10px 35px;
	border:1px solid #24f1ad;
	border-radius: 20px; 
	background: transparent;
	color: #fff;
	font-size: 16px;
	letter-spacing: 4px;
	margin-top: 30px;
	transition: all 0.5s ease;
}
.banner .conteudo button:hover {
	background-color: #3ec97c;
	color: #fff;
	font-weight: 700;
}
.stickey {
	background-color:#0ab195f3; 
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3)
}
.stickey .titulo, .stickey ul li a{
	color: #111;
}

/*Secção Sobre*/
.sobre .conteudo {
	width: 100%;
	padding: 40px 100px;
}
.titulo {
	width: 100%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 2em;
	padding: 20px 20px;
	margin:8% 0 4% 0;
}
.titulo h2 {
	color: #444040;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
}
.titulo h2 span {
	color: #e7140f;
	font-size: 1.5em;
}
.titulo h5 {
	color: #0ab195;
	margin-top: -5px;
}

.area h3 {
	position: absolute;
	top: 45vh;
	font-weight: 100;
	color: #0ab195;
	line-height:30px;
}
.area .ja {
	position: absolute;
	top: 50vh;
	font-size: 14pt;
	padding-left: 32px;
	color: #e7140f
}
.row {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.row .col50 {
	position: relative;
	width: 48%;
}
.row .col50 .imgBx {
	position: relative;
	width: 100%;
	min-height: 400px;
}
.row .col50 .imgBx img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.row .col50 p {
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row .col50 p span{
	color: #0ab195;
	font-weight: 700;
}
.botao {
	position: relative;
	padding: 10px 30px;
	font-size: 12pt;
	background: transparent;
	border: 1px solid #24f1ad;
	border-radius: 5px;
	top: 15px;
	color: #111;
	font-weight: 500;
	cursor: pointer;
	letter-spacing: 1px;
	transition: .4s;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.botao:hover {
	letter-spacing: 4px;
	background: #cadb2f96;
}

img {
	max-width: 100%;
}
/*Album*/
.album .conteudo {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	
}
.album .conteudo .box {
	width: 350px;
	height: 400px;
	margin: 10px;
	border: 2px solid #ccc;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}



.album .conteudo .box .text {
	position: relative;
	margin:8px 30%;
	font-size: 10pt;
	color: #aa9f9f;
	font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Secção Seviços*/

.servicos .conteudo {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.servicos .conteudo .boxServicos {
	width: 350px;
	height: 280px;
	margin: 20px;
	padding: 10px;
	text-align: center;
}
.servicos .conteudo .boxServicos img {
	max-width: 70px;
}
.servicos .conteudo .boxServicos h2 {
	font-size: 1.3em;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 600;
	color: #464444;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.servicos .conteudo .boxServicos p span {
	color: #e7140f;
	font-weight: 600;
}
.servicos .conteudo .boxServicos p a {
	color: #e7140f;
	font-weight: 600;
	text-decoration: none;
	transition: 0.4s;
}
.servicos .conteudo .boxServicos p a:hover {
	color: #0ab195;
	text-decoration: underline;
}
.servicos .conteudo .boxServicos p {
	text-align: center;
	font-size: 1.1em;
	color: #5a5a5a;
}

/*Seção de contato*/
.contato .conteudo {
	width: 100%;
	display: flex;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: -40px;
	align-items: center;
}
.contato .conteudo .boxCont {
	display: relative
	width: 200px;
	height: 280px;
	margin-left:110px;
	padding: 20px;
	margin-bottom: 50px;
}
.contato .conteudo .boxCont .contact {
	width: 100%;
	height: 100%;
}

.contato .conteudo h3 {
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	color: #4d9781;
	padding: 15px 50px;
	margin-left: -85px;
	font-weight: 100;
}
.contato .conteudo label {
	line-height: 20px;
	font-size: 1.1em;
	color: #5a5a5a;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contato .conteudo input {
	height: 30px;
	width: 200px;
	margin:10px 8px;
	padding-left: 10px;
	border: 1px solid #bfbfbf;
	font-size: 14px;
	border-radius: 5px;
	border-bottom-width: 1.90px;
}
.msg {
	margin-right: 197px;
}
.contato .conteudo textarea {
	height: 50px;
	width: 210px;
	margin: 10px ;
	margin-left: -125px;
	border-radius: 5px;
}
.contato .conteudo input[type="submit"]{
	position: relative;
	margin-top: 50px;
	width: 80px;
	top: 5vh;
	font-family: Arial, sans-serif;
	padding: 4px 2px;
	margin-left: -250px;
	background-color: #4d9781d8;
	color: #fff;
	transition: .5s;
}
.contato .conteudo input[type="submit"]:hover{
	background-color:#e7130f;
	color: #fff;
	font-weight: 600;
}

.social {
	position: relative;
	top: 21%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-right: 20px;
	left: 10px;
	
}
.conect {
	position: relative;
	left: 35px;
}
.social a svg {
	font-size: 2.2em;
	text-decoration: none;
	margin-left: 20px;
	transition: .5s;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.btn-face svg {
	color: #3b5998;
}
.btn-insta svg {
	color: #da0d2f; 
}
.btn-twi svg {
	color: #5aa4d6;
}
.btn-go svg {
	color: #d73d32;
}
.social a svg:hover {
	color:#b9b4b4;
}

.whats {
	position: absolute;
	top: 15vh;
	margin-left: 25px;
}
.puxa-whats {
	padding: 10px 25px;
	border: 1px solid #24f1ad;
	background: transparent;
	font-size: 1em;
	border-radius: 8px;
	color: #315a8a;
	font-weight: 600;
	transition: 1s;
	cursor: pointer;
}
.puxa-whats svg {
	margin-right: 10px;
	color: #4d9781;
	font-weight: 800;

}

.puxa-whats:hover{
	background-color:#e7130fd4;
	color: #fff;
	font-weight: 700;
}

.dados {
	width: 100%;
	text-align: center;
	font-size: 1.1em;
	line-height: 25px;
}
.dados span {
	color:#363131 ;
	letter-spacing: 3px;
}
.dados strong {
	color: #2a4768;
	font-weight: 600;
	font-family: monospace;
	font-size: 12pt;
}

.dados .local {
	margin-top: 30px;
}
.dados .local li {
	
	letter-spacing: 3px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* footer*/
footer {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	background:#0ab195f3;
	margin-top: 30px;
	padding: 25px 100px;
	flex-wrap: wrap;
}

footer h4 {
	font-size: 1.1em;
	color: #fff;
	font-weight: 100;
}

/*Media queries*/










