* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
}

@font-face{
	font-family: 'summer';
	src:url('Road Summer.ttf');
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	transition: all .5s ease;
	z-index: 1111;
	flex-wrap: wrap;
	scroll-behavior: smooth;
}

header .logo {
	text-decoration: none;
	font-size:1.5em;
	color: #fff;
	font-weight: 800;
	font-family: 'summer', sans-serif;
}
header .logo span {
	color: #e7140f;
	font-weight: 900;
}
header ul {
	display: flex;
}
header ul li a{
	margin-left:20px; 
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	font-weight: 300;
	transition: .5s;
	font-family: sans-serif;
	font-weight: 300;
}
header ul li a:hover {
	color: #ff0157;
}

.banner {
	width: 100%;
	height: 100vh;
	background:url(../img/bg.jpg) no-repeat;
	background-position: center;
	object-fit: cover;
	background-size: cover;
}

.banner .conteudo {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-30%);
	padding: 100px;
	font-size: 40px;
}
.banner .conteudo small {
	font-size: 25px;
	color: #cadb2fe0;
	font-weight: 200;
	font-family: 'ovelha',sans-serif;
}
.banner .conteudo h2 {
	font-size: 2em;
	color: #fff;
	font-weight: 800;
	line-height: 1.2em;
}

.banner .conteudo button {
	padding: 10px 35px;
	border:1px solid #24f1ad;
	border-radius: 20px; 
	background: transparent;
	color: #fff;
	font-size: 16px;
	letter-spacing: 4px;
	margin-top: 30px;
	transition: all 0.5s ease;
}
.banner .conteudo button:hover {
	background-color: #3ec97c;
	color: #fff;
	font-weight: 700;
}
.stickey {
	background-color:#0ab195f3; 
	padding: 10px 100px;
}
.stickey .titulo, .stickey ul li a{
	color: #111;
}

/*Secção Sobre*/
.sobre .conteudo {
	width: 100%;
	padding: 40px 100px;
}
.sobre .conteudo .titulo {
	width: 100%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 2em;
	padding: 20px 20px;
}
.sobre .conteudo .titulo h2 {
	color: #cadb2f;
	letter-spacing: 5px;
}
.sobre .conteudo .titulo h2 span {
	color: #e7140f;
	font-size: 1.5em;
}
.sobre .conteudo .titulo h3 {
	color: #0ab195;
	margin-top: -5px;
}

.row {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.row .col50 {
	position: relative;
	width: 48%;
}
.row .col50 .imgBx {
	position: relative;
	width: 100%;
	min-height: 400px;
}
.row .col50 .imgBx img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.row .col50 p {
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row .col50 p span{
	color: #0ab195;
	font-weight: 700;
}
.botao {
	position: relative;
	padding: 10px 30px;
	font-size: 12pt;
	background: transparent;
	border: 1px solid #24f1ad;
	border-radius: 5px;
	top: 40px;
	color: #111;
	font-weight: 500;
	cursor: pointer;
	letter-spacing: 1px;
	transition: .4s;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.botao:hover {
	letter-spacing: 4px;
	background: #cadb2f96;
}

.social {
	position: relative;
	top: 21%;
}
.social a svg {
	font-size: 1.5em;
	text-decoration: none;
	margin-right:32px;
	color: #287266;
	transition: .5s;
}
.btn-face svg:hover{
	color: #3b5998;
	font-size: 2em;
}
.btn-insta svg:hover{
	color: #ec1935;
	font-size: 2em;
}
.btn-twi svg:hover{
	color: #5aa4d6;
	font-size: 2em;
}
.btn-go svg:hover{
	color: #d73d32;
	font-size: 2em;
}


















